:root {

    --dark: #2b2b2b;
    --light: #fff;
    --primary: #1b8b83;
    --secondary: #cfa584;
    --tertiary: #d9d9d9;
}

@font-face {
    font-family: Truculenta;
    src: url("/fonts/Truculenta-VariableFont_opsz\,wdth\,wght.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    color: #2b2b2b;
    font-family: Truculenta;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
    background-color: var(--brown);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
    display: block;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ---------------CONTAINER---------------------- */
.container {
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 8rem;
}


/* -------------------HEADER------------------- */

.headers {
    position: relative;
    width: 100%;
    background: var(--tertiary);
    padding: .5rem;
    z-index: 99999999999999999999999999;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.headers .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header_wrapper img {
    display: flex;
    align-items: center;
}

.headers .header_nav {
    display: flex;
    gap: 3rem;
}

.headers .header_nav ul {
    display: flex;
    align-self: center;
    flex-direction: row;
    gap: 3rem;

}

.headers .header_nav li a {
    color: var(--dark);
    font-weight: bold;
    font-size: large;
    transition: all .2s ease-in-out;
}

.headers .header_nav li a:hover,
.headers .header_nav li a.active {
    color: var(--primary);
    transition: all .2s ease-in-out;
}




.headers .header_wrapper.open {
    background-color: var(--tertiary);
    border-radius: 5rem;
    padding: 2rem;
    position: fixed;
    width: 80rem;
    max-width: 100%;
    z-index: 9999999;
    margin: 0 auto;
    left: 0%;
    border-color: var(--light);
    right: 0;
    transition: all 1s ease;

}

/* UPDATE BANNER */

.update h1 {
    font-size: 7rem;
    font-weight: bold;
    color: var(--primary);
    text-align: center;
    margin: 5rem 0 0;
}

.update .update_wrapper {
    display: flex;
    padding: 10rem 0;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    flex-wrap: wrap;
    background-color: var(--light);
}

.update .update_text h1 {
    font-size: 7rem;
    font-weight: bold;
    color: var(--primary);
    text-align: center;
    margin: 3rem 0;
}

.update .update_text {
    text-align: justify;

}

.update .update_text p {
    max-width: 50rem;
}

/* DESIGN OPTIONS */


.designs .designs_wrapper {
    padding: 0 10rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}



.designs .designs_wrapper .cards_wrapper,
.categories_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem
}




.designs .heads h1:last-child {
    margin: 0 22rem;
}

.designs .heads h1 {
    color: var(--secondary);
    font-size: 3rem;
    font-weight: bold;

}

.designs .designs_building h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

.designs .designs_building p {
    text-align: justify;
    margin-right: 2rem;
}

.designs .designs_wrapper h1 {
    color: var(--secondary);
    font-size: 3rem;
    font-weight: bold
}

.designs .designs_wrapper .designs_building h1,
.designs_categories h1 {
    padding: 2rem 3rem;
}

.designs .designs_wrapper .designs_categories h1 {
    padding: 2rem 0;
}

.designs .cards {
    background: var(--tertiary);
    padding: 3rem;
    margin-bottom: 1rem;

}

.designs .cards i {
    margin-top: 1rem;
    font-size: 5rem;
    display: flex;
    justify-content: end;
}


.designs .designs_categories p {
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

/* Recent projects */
.project {
    margin: 10rem 0;
}

.project h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary);
    margin: 5rem;
}

.project .project_wrapper {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.project .project_text {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 0 1.5rem
}

.project .project_text,
.tag,
.date {
    display: flex;
    font-weight: bold;
    font-size: 2rem;
    gap: .5rem;
    justify-content: space-between;
}

/* CTA */

.cta {
    padding: 3rem;
    background-color: var(--primary);
    text-align: center;
}

.cta h3 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--light);
}

.cta p {
    margin: 1rem 0;
    color: var(--light);
}

/* FOOTER */

.footer {
    padding: 3rem 0;
    background-color: var(--dark);
    color: var(--light);
}

.footer .footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer_social {
    display: flex;
    gap: 2rem;
}

.footer .footer_social li a {
    color: var(--light);
}

.footer .footer_social li a:hover {
    color: var(--primary);
}


.btn {
    display: inline-block;
    color: transparent;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1rem 2rem;
    border-radius: 10rem;
}

.btn.btn-tertiary {
    background-color: var(--tertiary);
    color: var(--dark);
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24)0px 3px 8px;
}

@media screen and (min-width:800px) and (max-width:900px) {
    .headers .toggle_menu span {
        display: none;
        width: 3rem;
        z-index: 999999999999999999;
        height: .3rem;
        border: 1px solid var(--primary);
        border-radius: 1rem;
        background-color: var(--primary);
        transition: all .5s ease;

    }

    .headers {
        position: fixed;
        width: 100%;
        left: 0;
        background-color: var(--tertiary);
        z-index: 999;
    }

    .header_wrapper img {
        margin-right: 3rem;
    }

    .headers .toggle_menu span {
        display: flex;
    }

    .headers .toggle_menu {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        transition: all .5s ease;
    }

    .headers .header_nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--tertiary);
        padding: 3rem;
        top: 7rem;
        right: -100%;
        transition: all .5s ease;
        border-radius: 3rem;
    }

    .headers .header_nav.open {
        right: 0;
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:first-child {
        transform: translate(0, 10px) rotate(225deg);
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:last-child {
        transform: translate(0, -6px) rotate(-225deg);
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:nth-child(2) {
        opacity: 0;
        transition: all .5s ease;
    }

    .backdrop {
        display: block;
        background-color: var(--dark);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        height: 100vh;
        opacity: 0;
        transition: all .5s ease;
    }

    .headers .header_wrapper.open {
        padding: unset;
        border-radius: unset;
        position: unset;

    }

    .backdrop.open {
        display: block;
        background-color: var(--dark);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        height: 100vh;
        opacity: .7;
        transition: all .5s ease;
    }

    /* UPDATE MOBILE */
    .update .update_wrapper {
        flex-direction: column-reverse;
    }

    /* DESIGN MOBILE */


    .designs .designs_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem 0;
        text-align: center;
    }

    .designs .designs_wrapper .cards_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem
    }


    .footer .footer_wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .catalog .catalog_wrapper {
        padding: 0;
        flex-direction: column;
        display: flex;
        margin-top: 5rem;
        gap: 1rem;
    }



    /* CONTAINER */
    .container {
        padding: 0 2rem;
    }
}

@media screen and (min-width:600px) and (max-width:800px) {
    .headers .toggle_menu span {
        display: none;
        width: 3rem;
        z-index: 999999999999999999;
        height: .3rem;
        border: 1px solid var(--primary);
        border-radius: 1rem;
        background-color: var(--primary);
        transition: all .5s ease;

    }

    .headers {
        position: fixed;
        width: 100%;
        left: 0;
        background-color: var(--tertiary);
        z-index: 999;
    }

    .header_wrapper img {
        margin-right: 3rem;
    }

    .headers .toggle_menu span {
        display: flex;
    }

    .headers .toggle_menu {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        transition: all .5s ease;
    }

    .headers .header_nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--tertiary);
        padding: 3rem;
        top: 7rem;
        right: -100%;
        transition: all .5s ease;
        border-radius: 3rem;
    }

    .headers .header_nav.open {
        right: 0;
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:first-child {
        transform: translate(0, 10px) rotate(225deg);
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:last-child {
        transform: translate(0, -6px) rotate(-225deg);
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:nth-child(2) {
        opacity: 0;
        transition: all .5s ease;
    }

    .backdrop {
        display: block;
        background-color: var(--dark);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        height: 100vh;
        opacity: 0;
        transition: all .5s ease;
    }

    .headers .header_wrapper.open {
        padding: unset;
        border-radius: unset;
        position: unset;

    }

    .backdrop.open {
        display: block;
        background-color: var(--dark);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        height: 100vh;
        opacity: .7;
        transition: all .5s ease;
    }

    /* UPDATE MOBILE */
    .update .update_wrapper {
        flex-direction: column-reverse;
    }

    /* DESIGN MOBILE */


    .designs .designs_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem 0;
        text-align: center;
    }

    .designs .designs_wrapper .cards_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem
    }


    .footer .footer_wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .catalog .catalog_wrapper {
        padding: 0;
        flex-direction: column;
        display: flex;
        margin-top: 5rem;
        gap: 1rem;
    }



    /* CONTAINER */
    .container {
        padding: 0 2rem;
    }
}

@media screen and (min-width:400px) and (max-width:600px) {
    .headers .toggle_menu span {
        display: none;
        width: 3rem;
        z-index: 999999999999999999;
        height: .3rem;
        border: 1px solid var(--primary);
        border-radius: 1rem;
        background-color: var(--primary);
        transition: all .5s ease;

    }

    .headers {
        position: fixed;
        width: 100%;
        left: 0;
        background-color: var(--tertiary);
        z-index: 999;
    }

    .header_wrapper img {
        margin-right: 3rem;
    }

    .headers .toggle_menu span {
        display: flex;
    }

    .headers .toggle_menu {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        transition: all .5s ease;
    }

    .headers .header_nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--tertiary);
        padding: 3rem;
        top: 7rem;
        right: -100%;
        transition: all .5s ease;
        border-radius: 3rem;
    }

    .headers .header_nav.open {
        right: 0;
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:first-child {
        transform: translate(0, 10px) rotate(225deg);
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:last-child {
        transform: translate(0, -6px) rotate(-225deg);
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:nth-child(2) {
        opacity: 0;
        transition: all .5s ease;
    }

    .backdrop {
        display: block;
        background-color: var(--dark);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        height: 100vh;
        opacity: 0;
        transition: all .5s ease;
    }

    .headers .header_wrapper.open {
        padding: unset;
        border-radius: unset;
        position: unset;

    }

    .backdrop.open {
        display: block;
        background-color: var(--dark);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        height: 100vh;
        opacity: .7;
        transition: all .5s ease;
    }

    /* UPDATE MOBILE */
    .update .update_wrapper {
        flex-direction: column-reverse;
    }

    /* DESIGN MOBILE */


    .designs .designs_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem 0;
        text-align: center;
    }

    .designs .designs_wrapper .cards_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem
    }


    .footer .footer_wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .catalog .catalog_wrapper {
        padding: 0;
        flex-direction: column;
        display: flex;
        margin-top: 5rem;
        gap: 1rem;
    }



    /* CONTAINER */
    .container {
        padding: 0 2rem;
    }
}

@media screen and (max-width:520px) {
    .headers .toggle_menu span {
        display: none;
        width: 3rem;
        z-index: 999999999999999999;
        height: .3rem;
        border: 1px solid var(--primary);
        border-radius: 1rem;
        background-color: var(--primary);
        transition: all .5s ease;

    }

    .headers {
        position: fixed;
        width: 100%;
        left: 0;
        background-color: var(--tertiary);
        z-index: 999;
    }

    .header_wrapper img {
        margin-right: 3rem;
    }

    .headers .toggle_menu span {
        display: flex;
    }

    .headers .toggle_menu {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        transition: all .5s ease;
    }

    .headers .header_nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--tertiary);
        padding: 3rem;
        top: 7rem;
        right: -100%;
        transition: all .5s ease;
        border-radius: 3rem;
    }

    .headers .header_nav.open {
        right: 0;
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:first-child {
        transform: translate(0, 10px) rotate(225deg);
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:last-child {
        transform: translate(0, -6px) rotate(-225deg);
        transition: all .5s ease;
    }

    .headers .toggle_menu.open span:nth-child(2) {
        opacity: 0;
        transition: all .5s ease;
    }

    .backdrop {
        display: block;
        background-color: var(--dark);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        height: 100vh;
        opacity: 0;
        transition: all .5s ease;
    }

    .headers .header_wrapper.open {
        padding: unset;
        border-radius: unset;
        position: unset;

    }

    .backdrop.open {
        display: block;
        background-color: var(--dark);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        height: 100vh;
        opacity: .7;
        transition: all .5s ease;
    }

    /* UPDATE MOBILE */
    .update .update_wrapper {
        flex-direction: column-reverse;
    }

    /* DESIGN MOBILE */


    .designs .designs_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem 0;
        text-align: center;
    }

    .designs .designs_wrapper .cards_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem
    }


    .footer .footer_wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .catalog .catalog_wrapper {
        padding: 0;
        flex-direction: column;
        display: flex;
        margin-top: 5rem;
        gap: 1rem;
    }



    /* CONTAINER */
    .container {
        padding: 0 2rem;
    }
}